body{
    background-color: #fcfcfc;
    font-family: 'PT Sans', sans-serif;
}
a{
    color: #027dc3;
}
a:hover{
    color: #027dc3;
    transition: all ease 0.5s;
}
.container{
    max-width: 1300px;
}
/*top-line*/
.top-line {
    padding: 10px;
    line-height: 1.3;
    box-shadow: inset 0px -1px 2px #e6e6e6;
}
.top-line .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-work-time {
    font-size: 12px;
}
.top-address {
    font-size: 12px;
    max-width: 205px;
}
.top-menu {
    font-size: 14px;
}
.top-address {
    font-size: 12px;
    max-width: 223px;
    background: url(/images/icons/geo-alt.svg) no-repeat;
    padding-left: 27px;
    background-size: 20px;
    background-position: 0 7px;
}
.top-work-time {
    background: url(/images/icons/calendar3.svg) no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

/*header*/
header {
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    background: #fff;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: 40px;
}
.logo img{
    height: 50px;
}
.left-header-block{
    display: flex;
    align-items: center;
}
.header-phone {
    font-weight: 400;
    font-size: 24px;
    background: url(/images/icons/phone.svg) no-repeat;
    padding-left: 26px;
    background-size: 19px;
    line-height: 100%;
    background-position: 0px 2px;
}

/*menu*/
.main-menu ul, .top-menu ul{
    list-style: none;
    padding: 0;
}
.main-menu .menu_level_1{
    padding: 0;
}
.main-menu li, .top-menu li{
    padding: 0 10px;
    color: #0b2e13;
    position: relative;
}
.main-menu>ul, .top-menu>ul{
    display: flex;
    margin: 0;
}
.menu_level_1{
    display: none;
    position: absolute;
    border: 1px solid #0c8fda;
    background: #fff;
    border-radius: 0px 2px 2px 2px;
    box-shadow: 3px 3px 4px #ccc;
}
.menu_level_1 li {
    border-bottom: 1px solid #00a6e4;
    padding: 5px 25px;
    cursor: pointer;
}
.menu_level_1 li:hover {
    background: #00a6e4;
    transition: all ease 0.3s;
}
.menu_level_1 li:hover a{
    color: #fff;
}
.menu_level_1 .last {
    border: none;
}
.menu_level_1 li a:hover{
    border: none;
}
.main-menu ul>li:hover>.menu_level_1{
    display: block;
}
.main-menu a, .main-menu span, .top-menu a {
    color: #0b2e13;
    text-decoration: none;
    cursor: pointer;
}
.main-menu a:hover {
    border-bottom: 1px solid #027dc3;
}
.main-menu span:hover {
    border-bottom: 2px solid #027dc3;
}
.main-menu a:hover, .main-menu span:hover, .top-menu a:hover {
    color: #027dc3;
}

/*home page*/
.banner{
    height: 500px;
    background: url('/images/banners/3.jpg');
    background-position: center;
    display: flex;
    align-items: center;
}
.banner img{
    margin: 0 auto;
}
.first-home-block {
    display: flex;
}
.catalog-block {
    width: 100%;
}
.news-block {
    max-width: 350px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 5px;
    border-top: 6px solid #0290de;
    position: relative;
}
.news-block h3 {
    font-size: 22px;
}
.news-block-more {
    display: block;
    background: #0290de;
    color: #fff;
    padding: 1px 20px 3px;
    border-radius: 50px;
    position: absolute;
    right: 0;
}
.news-block-more:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.row-catalog-block {
    display: flex;
    justify-content: space-between;
}
.item-catalog-block {
    background: #fff;
    width: 50%;
    padding: 20px 10px;
    margin: 5px 5px;
    display: flex;
}
.img-item {
    width: 250px;
    height: 200px;
    background: #00a6e4;
    margin: -20px 20px -20px -10px;
}
.info-catalog-item h2 {
    font-size: 22px;
}
.info-catalog-item ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-catalog-item a:hover{
    text-decoration: none;
    border-bottom: 1px solid #b6d9e8;
 }
.h1-home{
    font-size: 32px;
    margin: 40px 0;
    padding: 0 10px 5px;
    border-bottom: 2px solid #e3ebf1;
}
.commerce-block{
    position: relative;
}
.commerce-block a{
    position: absolute;
    /* margin: 0 auto; */
    display: block;
    left: 20px;
    background: #0290de;
    color: #fff;
    padding: 1px 20px 3px;
    border-radius: 50px;
}
.commerce-block a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.h2-home {
    font-size: 32px;
    margin: 40px 0;
    padding: 0 10px 5px;
    border-bottom: 2px solid #e3ebf1;
}
.home-agents-block {
    margin-top: 80px;
}
.agents-home-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.agent-home-icon {
    width: 60px;
}
.agents-home-item p{
    margin: 0;
}
.agents-home-item .agent-home-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}
.agent-home-phone {
    border-bottom: 2px solid #0290de;
    padding-bottom: 4px;
}
.agent-home-email {
    font-style: italic;
}
.agent-home-email:hover{
    text-decoration: none;
    border-bottom: 1px solid #b6d9e8;
}
.home-company-info {
    margin-top: 80px;
}
.home-company-info p{
    font-size: 13px;
    margin: 0 0 10px;
}
/*footer*/
footer {
    height: 300px;
    margin-top: 50px;
    background: #378ed0;
}