body{
    background-color: #fcfcfc;
    font-family: 'PT Sans', sans-serif;
}
a{
    color: #027dc3;
}
a:hover{
    color: #027dc3;
    transition: all ease 0.5s;
}
.container{
    max-width: 1300px;
}
.page-head {
    margin: 40px 0;
    font-size: 38px;
    display: inline-block;
}
main {
    min-height: 552px;
}
/*top-line*/
.top-line {
    padding: 10px;
    line-height: 1.3;
    box-shadow: inset 0px -1px 2px #e6e6e6;
}
.top-line .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-work-time {
    font-size: 12px;
}
.top-address {
    font-size: 12px;
    max-width: 205px;
}
.top-menu {
    font-size: 14px;
}
.top-address {
    font-size: 12px;
    max-width: 223px;
    background: url(/images/icons/geo-alt.svg) no-repeat;
    padding-left: 27px;
    background-size: 20px;
    background-position: 0 7px;
}
.top-work-time {
    background: url(/images/icons/calendar3.svg) no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

/*header*/
header {
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    background: #fff;
    position: relative;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: 40px;
}
.logo img{
    height: 50px;
}
.left-header-block{
    display: flex;
    align-items: center;
}
.header-phone {
    font-weight: 400;
    font-size: 24px;
    background: url(/images/icons/phone.svg) no-repeat;
    padding-left: 26px;
    background-size: 19px;
    line-height: 100%;
    background-position: 0px 2px;
}

/*menu*/
.main-menu ul, .top-menu ul{
    list-style: none;
    padding: 0;
}
.main-menu .menu_level_1{
    padding: 0;
}
.main-menu li, .top-menu li{
    padding: 0 10px;
    color: #0b2e13;
    position: relative;
}
.main-menu>ul, .top-menu>ul{
    display: flex;
    margin: 0;
}
.menu_level_1{
    display: none;
    position: absolute;
    border: 1px solid #0c8fda;
    background: #fff;
    border-radius: 0px 2px 2px 2px;
    box-shadow: 3px 3px 4px #ccc;
}
.menu_level_1 li {
    border-bottom: 1px solid #00a6e4;
    padding: 5px 25px;
    cursor: pointer;
}
.menu_level_1 li:hover {
    background: #00a6e4;
    transition: all ease 0.3s;
}
.menu_level_1 li:hover a{
    color: #fff;
}
.menu_level_1 .last {
    border: none;
}
.menu_level_1 li a:hover{
    border: none;
}
.main-menu ul>li:hover>.menu_level_1{
    display: block;
}
.main-menu a, .main-menu span, .top-menu a {
    color: #0b2e13;
    text-decoration: none;
    cursor: pointer;
}
.main-menu a:hover {
    border-bottom: 1px solid #027dc3;
}
.main-menu span:hover {
    border-bottom: 2px solid #027dc3;
}
.main-menu a:hover, .main-menu span:hover, .top-menu a:hover {
    color: #027dc3;
}

/*home page*/
.banner{
    height: 500px;
    background: url('/images/banners/3.jpg');
    background-position: center;
    display: flex;
    align-items: center;
}
.banner img{
    margin: 0 auto;
}
.first-home-block {
    display: flex;
}
.catalog-block {
    width: 100%;
}
.news-block {
    max-width: 350px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 5px;
    border-top: 6px solid #0290de;
    position: relative;
}
.news-block h3 {
    font-size: 22px;
}
.news-block-more {
    display: block;
    background: #0290de;
    color: #fff;
    padding: 1px 20px 3px;
    border-radius: 50px;
    position: absolute;
    right: 0;
}
.news-block-more:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.row-catalog-block {
    display: flex;
    justify-content: space-between;
}
.item-catalog-block {
    background: #fff;
    width: 50%;
    padding: 20px 10px;
    margin: 5px 5px;
    display: flex;
}
.img-item {
    width: 250px;
    height: 200px;
    background: #00a6e4;
    margin: -20px 20px -20px -10px;
}
.info-catalog-item h2 {
    font-size: 22px;
}
.info-catalog-item ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-catalog-item a:hover{
    text-decoration: none;
    border-bottom: 1px solid #b6d9e8;
 }
.h1-home{
    font-size: 32px;
    margin: 40px 0;
    padding: 0 10px 5px;
    border-bottom: 2px solid #e3ebf1;
}
.commerce-block{
    position: relative;
}
.commerce-block a{
    position: absolute;
    /* margin: 0 auto; */
    display: block;
    left: 20px;
    background: #0290de;
    color: #fff;
    padding: 1px 20px 3px;
    border-radius: 50px;
}
.commerce-block a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.h2-home {
    font-size: 32px;
    margin: 40px 0;
    padding: 0 10px 5px;
    border-bottom: 2px solid #e3ebf1;
}
.home-agents-block {
    margin-top: 80px;
}
.agents-home-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.agent-home-icon {
    width: 60px;
}
.agents-home-item p{
    margin: 0;
}
.agents-home-item .agent-home-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}
.agent-home-phone {
    border-bottom: 2px solid #0290de;
    padding-bottom: 4px;
}
.agent-home-email {
    font-style: italic;
}
.agent-home-email:hover{
    text-decoration: none;
    border-bottom: 1px solid #b6d9e8;
}
.home-company-info {
    margin-top: 80px;
}
.home-company-info p{
    font-size: 13px;
    margin: 0 0 10px;
}
/*footer*/
footer {
    margin-top: 50px;
    background: linear-gradient(to right, #00a6e4, #63b7ff, #00a6e4);
    color: #fffafd;
    padding: 20px 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer h3{
    font-size: 22px;
    color: #e3ebf1;
    border-bottom: 2px solid #75c2ff;
}
.foot-more-menu ul{
    list-style: none;
    padding: 0;
}
.foot-more-menu li{
    padding: 0 10px;
    position: relative;
}
.foot-more-menu>ul{
    margin: 0;
}
.foot-more-menu a {
    color: #fffafd;
    text-decoration: none;
    cursor: pointer;
}
.foot-more-menu a:hover {
    color: #70cef9;
}
.foot-platform-list {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.foot-platform-list img {
    height: 35px;
}
.foot-platform-list a:hover{
    opacity: 0.7;
    transition: all ease 0.3s;
}
.foot-company-info div{
    margin: 10px 0;
}
.foot-address {
    background: url(/images/icons/foot-geo-alt.svg) no-repeat;
    padding-left: 25px;
    background-position: 0 5px;
}
.foot-work-time {
    background: url(/images/icons/foot-calendar3.svg) no-repeat;
    padding-left: 25px;
    background-position: 0px 3px;
}
.foot-phone {
    background: url(/images/icons/foot-phone.svg) no-repeat;
    padding-left: 25px;
    background-position: 0px 4px;
}
.foot-work-email {
    background: url(/images/icons/foot-envelope.svg) no-repeat;
    padding-left: 25px;
    background-position: 0px 5px;
}
.developer{
    float: right;
    padding-top: 14px;
}
.developer a{
    color: #fff;
    border-bottom: 1px dashed;
    text-decoration: none;
    vertical-align: top;
}
.developer a:hover{
    color: #fdd9d9;
    text-decoration: none;
    transition: all ease 0.3s;
}
.developer img{
    margin-left: -27px;
    margin-top: 3px;
}
/*category-item-list*/
.category-item {
    display: flex;
    background: #fff;
    border-radius: 3px;
    margin: 0 0 40px;
    overflow: hidden;
    height: 250px;
    justify-content: space-between;
    box-shadow: 2px 2px 4px #d8d8d8;
    transition: all ease 0.5s;
}
.category-item:hover {
    background: #f1fbff;
}

.main-category-block {
    display: flex;
}
.image-category-item {
    margin-right: 20px;
}
.item-category-contacts {
    margin-left: 10px;
    width: 200px;
    min-width: 200px;
}
.agent-category-item {
    background: #3fbceb;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.info-category-item {
    padding: 10px 0;
}
.head-category-item {
    font-size: 28px;
}
.head-category-item a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.address-category-item {
    font-size: 14px;
    color: #757272;
}
.price-category-item {
    display: inline-flex;
    font-size: 24px;
    margin: 15px 0;
    align-items: center;
}
.currency {
    font-size: 17px;
    color: #757272;
    margin-left: 5px;
}
.price-period {
    background: #3fbceb;
    color: #fff;
    font-size: 16px;
    padding: 0 15px 3px;
    border-radius: 50px;
    margin-left: 10px;
}
.description-category-item {
    font-size: 15px;
}
.meta-info-category-item {
    flex-wrap: wrap;
    display: flex;
    align-content: flex-end;
    height: 138px;
    padding: 10px 0;
}
.code-category-item {
    background: #027dc3;
    color: #fff;
    font-size: 16px;
    padding: 2px 15px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.createdAt-category-item {
    font-size: 13px;
}
.createdAt-title {
    font-style: italic;
    color: #757272;
}
.agent-name-category-item {
    font-weight: 600;
}
.agent-phone-category-item {
    font-size: 18px;
    border-bottom: 2px solid #76cff1;
}
.agent-email-category-item {
    font-style: italic;
    color: #e4f7ff;
    font-size: 15px;
    margin-top: 5px;
}
/*realty-item*/
.property-item {
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 3px;
}
.head-meta-info {
    align-content: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.code-item {
    background: #027dc3;
    color: #fff;
    font-size: 16px;
    padding: 2px 15px;
    border-radius: 50px;
    margin-left: 20px;
}
.createdAt-item {
    font-size: 13px;
}
.head-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
    border-bottom: 2px solid #c8e9f5;
}
.iteh-h1 {
    font-size: 30px;
    margin: 0;
}
.price-item {
    color: #027dc3;
    font-size: 28px;
    font-weight: 600;
}
.address-item {
    margin-bottom: 20px;
    font-style: italic;
}
.action-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.image-item {
    width: 100%;
}
.main-detail{
    min-width: 300px;
}
.agent-item {
    background: #3fbceb;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.agent-name-item {
    font-weight: 600;
}
.agent-phone-item {
    font-size: 18px;
    border-bottom: 2px solid #76cff1;
}
.agent-email-item {
    font-style: italic;
    color: #e4f7ff;
    font-size: 15px;
    margin-top: 5px;
}
.building-info{
    font-size: 18px;
    border-left: 30px solid #efe600;
    margin-bottom: 10px;
    padding-left: 10px;
}
.new-building {

}
.house-complex {

}
.h2-item {
    font-size: 26px;
    border-bottom: 2px solid red;
    border-bottom: 2px solid #c8e9f5;
}
.description-item {
    margin-bottom: 40px;
}
.more-info-item{
    margin-bottom: 40px;
}
.property-params-item {
    margin: 0;
    list-style: none;
    padding: 0;
}
.property-params-item li {
    background: url(/images/icons/circle.svg) no-repeat;
    padding-left: 20px;
    background-size: 8px;
    background-position: 0px 9px;
}
.property-params-title {
    font-weight: 600;
    font-size: 14px;
    color: #717171;
}
.property-param-init {
    color: #a5a5a5;
}
.in-property-item {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.in-property-item li{
    margin-right: 20px;
    background: url(/images/icons/check2-circle.svg) no-repeat;
    padding-left: 25px;
    background-position: 0;
    background-size: 20px;
}