{% extends 'base.html.twig' %}

{% block content %}
    <h1>Список объектов</h1>

    <ul>
        {% for property in properties %}
            <li>
                {{ property.code }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}