{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Список объектов</h1>

        <div class="category-items">
            {% for property in properties %}
                <div class="category-item">
                    {{ property.code }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}