{% extends 'base.html.twig' %}

{% block content %}
    <h1>Список объектов</h1>
    {{ knp_menu_render('main') }}
    <ul>
        {% for property in properties %}
            {{ property.code }}
        {% endfor %}
    </ul>
{% endblock %}