{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1 class="page-head">{{news.name}}</h1>

    <div class="news-item">
        <div class="news-item-created">
            {{ news.createdAt|date("d-m-Y") }}
        </div>
        <div class="news-list-text">
            {% if news.image%}
                <img class="image-item-news" src="{{ asset('/images/news/' ~ news.image) | imagine_filter('news_full') }}" />
            {% endif %}
            {{ news.text|raw }}
        </div>
    </div>
</div>
{% endblock %}